@font-face{
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Regular.ttf');
}

.roboto {
    font-family: 'Roboto';
}

bouncing img {
    height: 200px;
    width: 200px;
    margin: 8px;
    z-index: -1;
    opacity: 0.8;
    object-fit: contain;
}

body {
    overflow-x: hidden;
}

h1 {
    font-size: 4rem;
}

.social-links {
    align-items: flex-start;
    display: flex;
}

.social-links * {
    height: 40px;
    margin: 0 8px;
    text-decoration: none;
}

#resume-button {
    display:flex;
    justify-content: center;
    align-items: center;
    background: black;
    color:white;
    padding: 0 8px;
    border-radius: 2px;
}


.v-application--wrap {
    min-height: 0!important;
}

#bookbuster {
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 2px 2px 2px lightgray; 
    height:540px;
}

iframe {
    width: 100%;
    height: 540px;
    border-radius: 8px;
}

project-title {
    display: block;
    font-size: 48px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid black; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

#iFramePlaceholder {
width:100%;
height:540px;
}

#bookbusterLinks * {
    height:40px;
    margin-right: 8px;
    text-decoration: none;
}

.navbar {
    background: none!important;
}

@media screen and (max-width: 600px) {

    bouncing img {
        height: 100px;
        width: 100px;
    }
    h1 {
        font-size: 2rem;
    }
    
    project-title {
        font-size: 32px;
    }

    #bookbuster {
        display: none !important;
    }
    
    #iFramePlaceholder {
        display: none !important;
    }
    .project-row {
        margin: 8px 24px;
        border: 1px dashed black;
        border-radius: 8px;
    }

}
